.App {
  font-family: "Ubuntu", sans-serif;
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  flex-wrap: wrap;
}

.mycard {
  font-weight: normal;
  font-size: 2.6rem;
  color: cornflowerblue;
}
.progress {
  height: 1.5em;
  width: 40vw;
  background-color: #c9c9c9;
  position: relative;
}
.progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  top: 7px;
  left: 0;
  right: 0;
}
.progress .value {
  background-color: #7cc4ff;
  display: inline-block;
  height: 100%;
}
.overview {
  align-items: center;

  margin: 10px;
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgray;
  flex-wrap: wrap;
}
.graph {
  width: 1500px;
  height: 700px;
}
.app__form {
  display: flex;
  flex-direction: column;
}
